<main>
  <h2>Trang chu</h2>
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="user-card">
        <img
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          alt="User 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="user-card">
        <img
          src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          alt="User 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="user-card">
        <img
          src="https://images.unsplash.com/photo-1503235930437-8c6293ba41f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          alt="User 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="user-card">
        <img
          src="https://images.unsplash.com/photo-1503235930437-8c6293ba41f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          alt="User 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="user-card">
        <img
          src="https://images.unsplash.com/photo-1503235930437-8c6293ba41f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          alt="User 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="user-card">
        <img
          src="https://images.unsplash.com/photo-1503235930437-8c6293ba41f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          alt="User 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="user-card">
        <img
          src="https://images.unsplash.com/photo-1503235930437-8c6293ba41f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          alt="User 1"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="user-card">
        <img
          src="https://images.unsplash.com/photo-1503235930437-8c6293ba41f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          alt="User 1"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</main>
