<h1 class="text-center mt-5">Register</h1>
<form
  action="/register"
  method="post"
  class="mt-5 border border-primary p-5 rounded-3"
>
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">userName:</label>
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="Enter email"
      name="username"
    />
  </div>
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter email"
      name="email"
    />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <input
      type="password"
      class="form-control"
      id="pwd"
      placeholder="Enter password"
      name="password"
    />
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </div>
</form>
